In [27]:
import pandas as pd
import numpy as np

In [39]:
df=pd.read_csv('data/crime_csv_all_years.csv')

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560741 entries, 0 to 560740
Data columns (total 10 columns):
TYPE             560741 non-null object
YEAR             560741 non-null int64
MONTH            560741 non-null int64
DAY              560741 non-null int64
HOUR             503868 non-null float64
MINUTE           503868 non-null float64
HUNDRED_BLOCK    560728 non-null object
NEIGHBOURHOOD    501541 non-null object
X                560741 non-null float64
Y                560741 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 42.8+ MB

In [51]:
df.head()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
0,Theft from Vehicle,2003,11,23,0.0,1.0,13XX W GEORGIA ST,Central Business District,490745.08,5459529.81
1,Theft from Vehicle,2003,5,9,18.0,0.0,30XX W 8TH AVE,Kitsilano,487465.51,5456929.11
2,Offence Against a Person,2003,3,9,NaN,NaN,OFFSET TO PROTECT PRIVACY,NaN,0.00,0.00
3,Offence Against a Person,2003,1,20,NaN,NaN,OFFSET TO PROTECT PRIVACY,NaN,0.00,0.00
4,Break and Enter Commercial,2003,2,7,0.0,30.0,71XX VICTORIA DR,Victoria-Fraserview,495196.35,5451832.55

In [52]:
df['X'].max()

511303.0

In [53]:
df['X'].min()

0.0

In [45]:
df.nunique()

TYPE                 11
YEAR                 16
MONTH                12
DAY                  31
HOUR                 24
MINUTE               60
HUNDRED_BLOCK     21506
NEIGHBOURHOOD        24
X                103425
Y                101082
dtype: int64

In [48]:
df2=df.dropna()

In [49]:
df2.nunique()

TYPE                  9
YEAR                 16
MONTH                12
DAY                  31
HOUR                 24
MINUTE               60
HUNDRED_BLOCK     21494
NEIGHBOURHOOD        24
X                103405
Y                101069
dtype: int64

In [50]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501528 entries, 0 to 560740
Data columns (total 10 columns):
TYPE             501528 non-null object
YEAR             501528 non-null int64
MONTH            501528 non-null int64
DAY              501528 non-null int64
HOUR             501528 non-null float64
MINUTE           501528 non-null float64
HUNDRED_BLOCK    501528 non-null object
NEIGHBOURHOOD    501528 non-null object
X                501528 non-null float64
Y                501528 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 42.1+ MB

In [54]:
df2['X'].max()

498306.0

In [55]:
df2['X'].min()

483704.89000000001

In [56]:
df2['X'].max()-df2['X'].min()

14601.109999999986

In [61]:
df2['Y'].max()

5462299.7300000004

In [62]:
df2['Y'].min()

5449797.4900000002

In [63]:
df2['Y'].max()-df2['Y'].min()

12502.240000000224

In [64]:
pwd

'/Users/michaeljoyce/Desktop/Capstone'

In [65]:
cd data

/Users/michaeljoyce/Desktop/Capstone/data

In [66]:
ls

CensusLocalAreaProfiles2016.csv  crime_csv_all_years.csv

In [67]:
cd ..

/Users/michaeljoyce/Desktop/Capstone

In [69]:
df=pd.read_csv('data/CensusLocalAreaProfiles2016.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf4 in position 5: invalid continuation byte