In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('data/crime_csv_all_years.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560741 entries, 0 to 560740
Data columns (total 10 columns):
TYPE             560741 non-null object
YEAR             560741 non-null int64
MONTH            560741 non-null int64
DAY              560741 non-null int64
HOUR             503868 non-null float64
MINUTE           503868 non-null float64
HUNDRED_BLOCK    560728 non-null object
NEIGHBOURHOOD    501541 non-null object
X                560741 non-null float64
Y                560741 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 42.8+ MB

In [4]:
df.head()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
0,Theft from Vehicle,2003,11,23,0.0,1.0,13XX W GEORGIA ST,Central Business District,490745.08,5459529.81
1,Theft from Vehicle,2003,5,9,18.0,0.0,30XX W 8TH AVE,Kitsilano,487465.51,5456929.11
2,Offence Against a Person,2003,3,9,NaN,NaN,OFFSET TO PROTECT PRIVACY,NaN,0.00,0.00
3,Offence Against a Person,2003,1,20,NaN,NaN,OFFSET TO PROTECT PRIVACY,NaN,0.00,0.00
4,Break and Enter Commercial,2003,2,7,0.0,30.0,71XX VICTORIA DR,Victoria-Fraserview,495196.35,5451832.55

In [5]:
df.isnull().sum()

TYPE                 0
YEAR                 0
MONTH                0
DAY                  0
HOUR             56873
MINUTE           56873
HUNDRED_BLOCK       13
NEIGHBOURHOOD    59200
X                    0
Y                    0
dtype: int64

In [6]:
df.nunique()

TYPE                 11
YEAR                 16
MONTH                12
DAY                  31
HOUR                 24
MINUTE               60
HUNDRED_BLOCK     21506
NEIGHBOURHOOD        24
X                103425
Y                101082
dtype: int64

In [7]:
df2=df.dropna()

In [8]:
df2.nunique()

TYPE                  9
YEAR                 16
MONTH                12
DAY                  31
HOUR                 24
MINUTE               60
HUNDRED_BLOCK     21494
NEIGHBOURHOOD        24
X                103405
Y                101069
dtype: int64

In [9]:
df2.isnull().sum()

TYPE             0
YEAR             0
MONTH            0
DAY              0
HOUR             0
MINUTE           0
HUNDRED_BLOCK    0
NEIGHBOURHOOD    0
X                0
Y                0
dtype: int64

In [10]:
df3=df2.sort_values(['YEAR','MONTH','DAY','HOUR','MINUTE'])

In [11]:
df3.head(100)

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
2148,Theft from Vehicle,2003,1,1,0.0,0.0,2XX DRAKE ST,Central Business District,490968.94,5457901.26
3215,Theft of Bicycle,2003,1,1,0.0,0.0,6X KEEFER PL,Central Business District,492231.06,5458545.72
7453,Theft from Vehicle,2003,1,1,0.0,0.0,24XX W 1ST AVE,Kitsilano,488324.36,5457580.13
18527,Mischief,2003,1,1,0.0,0.0,17XX PARKER ST,Grandview-Woodland,494981.08,5458118.12
32204,Theft from Vehicle,2003,1,1,0.0,0.0,11XX HOWE ST,Central Business District,490849.97,5458442.50
34232,Theft from Vehicle,2003,1,1,0.0,0.0,57XX CULLODEN ST,Sunset,494285.25,5453254.66
34819,Theft from Vehicle,2003,1,1,0.0,0.0,10XX W 26TH AVE,Shaughnessy,490707.25,5455045.50
45038,Break and Enter Residential/Other,2003,1,1,0.0,0.0,9XX W 15TH AVE,Fairview,490791.12,5456127.88
48249,Break and Enter Commercial,2003,1,1,0.0,0.0,64XX VICTORIA DR,Victoria-Fraserview,495220.95,5452631.14
48331,Theft from Vehicle,2003,1,1,0.0,0.0,33XX ROSEMONT DR,Killarney,497388.60,5451449.73
48386,Theft of Bicycle,2003,1,1,0.0,0.0,30XX W 4TH AVE,Kitsilano,487421.31,5457307.47
5783,Theft from Vehicle,2003,1,1,0.0,1.0,26XX E 48TH AVE,Victoria-Fraserview,496028.76,5452569.01
7935,Break and Enter Residential/Other,2003,1,1,0.0,1.0,34XX W 42ND AVE,Dunbar-Southlands,486837.11,5453468.15
36817,Theft of Bicycle,2003,1,1,0.0,5.0,11XX HORNBY ST,Central Business District,490705.34,5458446.09
9491,Vehicle Collision or Pedestrian Struck (with I...,2003,1,1,0.0,19.0,NELSON ST / THURLOW ST,West End,490687.00,5458867.00
28294,Break and Enter Residential/Other,2003,1,1,0.0,20.0,19XX PARKER ST,Grandview-Woodland,495279.46,5458105.92
12387,Mischief,2003,1,1,0.0,30.0,15XX W 66TH AVE,Marpole,489683.62,5450960.73
19542,Mischief,2003,1,1,0.0,30.0,9XX CANADA PL,Central Business District,491613.02,5459490.77
38679,Theft from Vehicle,2003,1,1,0.0,30.0,4XX ABBOTT ST,Central Business District,492183.96,5458755.30
25321,Theft from Vehicle,2003,1,1,1.0,0.0,13XX SW MARINE DR,Marpole,490174.85,5450028.53
37664,Theft from Vehicle,2003,1,1,1.0,0.0,4XX HELMCKEN ST,Central Business District,491084.84,5458236.56
7887,Theft from Vehicle,2003,1,1,1.0,15.0,24XX ETON ST,Hastings-Sunrise,495898.84,5459438.82
30338,Theft from Vehicle,2003,1,1,1.0,30.0,12XX ALBERNI ST,West End,490830.09,5459359.47
20978,Mischief,2003,1,1,1.0,40.0,18XX POWELL ST,Grandview-Woodland,495107.25,5459083.57
34610,Mischief,2003,1,1,1.0,45.0,21XX W 2ND AVE,Kitsilano,488772.00,5457479.02
17137,Break and Enter Residential/Other,2003,1,1,1.0,46.0,45XX MAIN ST,Riley Park,492627.84,5454543.55
21022,Mischief,2003,1,1,1.0,46.0,45XX MAIN ST,Riley Park,492627.84,5454543.55
12711,Theft from Vehicle,2003,1,1,2.0,0.0,8XX RICHARDS ST,Central Business District,491424.48,5458592.56
20710,Theft of Vehicle,2003,1,1,2.0,0.0,18XX KITCHENER ST,Grandview-Woodland,495086.32,5457705.34
25439,Theft from Vehicle,2003,1,1,2.0,0.0,13XX SW MARINE DR,Marpole,490135.31,5450044.63
...,...,...,...,...,...,...,...,...,...,...
14789,Theft from Vehicle,2003,1,1,11.0,45.0,1XX E 11TH AVE,Mount Pleasant,492527.39,5456495.51
1085,Break and Enter Commercial,2003,1,1,12.0,0.0,7XX PACIFIC BLVD,Central Business District,492005.87,5458173.62
7662,Theft from Vehicle,2003,1,1,12.0,0.0,9XX W 41ST AVE,South Cambie,490761.31,5453477.54
13971,Theft from Vehicle,2003,1,1,12.0,0.0,1XX POWELL ST,Central Business District,492577.88,5458943.30
15273,Break and Enter Residential/Other,2003,1,1,12.0,0.0,41XX VINE ST,Arbutus Ridge,488613.83,5455222.39
27475,Theft from Vehicle,2003,1,1,12.0,0.0,12XX W GEORGIA ST,West End,490786.46,5459476.01
31426,Theft from Vehicle,2003,1,1,12.0,0.0,11XX PENDRELL ST,West End,490400.79,5458840.38
43482,Other Theft,2003,1,1,12.0,0.0,3XX WATER ST,Central Business District,492073.89,5459075.98
45988,Break and Enter Commercial,2003,1,1,12.0,0.0,5XX BEATTY ST,Central Business District,492024.04,5458628.81
46452,Other Theft,2003,1,1,12.0,0.0,1XX WATER ST,Central Business District,492194.48,5459043.46
47296,Mischief,2003,1,1,12.0,0.0,29XX E 1ST AVE,Hastings-Sunrise,496826.08,5457397.96
49077,Theft from Vehicle,2003,1,1,12.0,0.0,32XX ASH ST,South Cambie,491399.11,5456000.37
14739,Mischief,2003,1,1,12.0,45.0,16XX HARO ST,West End,490270.91,5459603.25
35125,Break and Enter Commercial,2003,1,1,12.0,49.0,28XX BENTALL ST,Renfrew-Collingwood,497676.19,5456231.22
28484,Theft from Vehicle,2003,1,1,13.0,0.0,12XX RICHARDS ST,Central Business District,490919.39,5458083.13
558,Mischief,2003,1,1,13.0,15.0,7XX MALKIN AVE,Strathcona,493591.23,5458009.62
11355,Theft from Vehicle,2003,1,1,13.0,20.0,21XX COMMERCIAL DR,Grandview-Woodland,494922.38,5456975.18
33718,Mischief,2003,1,1,13.0,20.0,21XX COMMERCIAL DR,Grandview-Woodland,494922.38,5456975.18
20901,Theft of Vehicle,2003,1,1,13.0,30.0,18XX VINE ST,Kitsilano,488550.90,5457475.22
27474,Theft from Vehicle,2003,1,1,13.0,30.0,12XX W GEORGIA ST,West End,490786.46,5459476.01
37337,Theft from Vehicle,2003,1,1,14.0,0.0,10XX BURRARD ST,Central Business District,490730.37,5458609.87
891,Theft from Vehicle,2003,1,1,14.0,30.0,2XX W 17TH AVE,Riley Park,491926.69,5455899.50
3594,Mischief,2003,1,1,14.0,30.0,COMMERCIAL DR / E 12TH AVE,Kensington-Cedar Cottage,494917.83,5456315.97
16608,Theft from Vehicle,2003,1,1,14.0,30.0,COMMERCIAL DR / E 12TH AVE,Kensington-Cedar Cottage,494917.83,5456315.97
20397,Theft from Vehicle,2003,1,1,15.0,0.0,7XX HORNBY ST,Central Business District,491171.99,5458918.15
33741,Theft of Vehicle,2003,1,1,15.0,0.0,34XX LAUREL ST,South Cambie,490945.95,5455836.23
5893,Theft from Vehicle,2003,1,1,15.0,8.0,9XX QUEBEC ST,Central Business District,492575.63,5458228.80
1544,Break and Enter Residential/Other,2003,1,1,15.0,30.0,30XX E KENT N AVE,Killarney,496782.22,5450445.75
14792,Theft from Vehicle,2003,1,1,15.0,30.0,1XX E 11TH AVE,Mount Pleasant,492509.34,5456486.76
24392,Theft from Vehicle,2003,1,1,15.0,30.0,6XX SEYMOUR ST,Central Business District,491609.07,5458916.05

In [12]:
df3['YEAR'].value_counts().sort_index()

2003    45885
2004    45035
2005    40522
2006    37767
2007    33161
2008    31070
2009    28197
2010    25876
2011    24633
2012    25378
2013    25324
2014    29433
2015    31019
2016    34534
2017    33625
2018    10069
Name: YEAR, dtype: int64

SyntaxError: invalid syntax (<ipython-input-13-9e9aa3537a37>, line 1)

In [14]:
pwd

'/Users/michaeljoyce/Desktop/Capstone'

In [16]:
wdf=pd.read_csv('data/Blaine.csv')

In [17]:
wdf.head()

,STATION,NAME,DATE,MDPR,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WT01
0,USC00450729,"BLAINE, WA US",2003-01-01,NaN,0.43,0.0,0.0,45.0,38.0,39.0,NaN
1,USC00450729,"BLAINE, WA US",2003-01-02,NaN,0.87,0.0,0.0,54.0,39.0,54.0,NaN
2,USC00450729,"BLAINE, WA US",2003-01-03,NaN,0.33,0.0,0.0,54.0,40.0,47.0,NaN
3,USC00450729,"BLAINE, WA US",2003-01-04,NaN,0.77,0.0,0.0,53.0,43.0,51.0,NaN
4,USC00450729,"BLAINE, WA US",2003-01-05,NaN,0.00,0.0,0.0,52.0,37.0,47.0,NaN

In [18]:
wdf2=wdf[['DATE','PRCP','TMIN']]

In [ ]:
df2['X'].max()-df2['X'].min()

In [ ]:
df2['Y'].max()

In [ ]:
df2['Y'].min()

In [ ]:
df2['Y'].max()-df2['Y'].min()

In [ ]:
df[''].groupby(df.birthdate.dt.to_period("M")).agg('count')

In [ ]:
cd data

In [ ]:
ls

In [ ]:
cd ..

In [ ]:
df